<nav class="navbar">
  <div class="logo">
    <a routerLink="/" class="logo-link">
      <img src="assets/social media icons/VAXFAB logo.png" alt="Company Logo">
      <span class="brand-name">VAXFAB</span>
    </a>
  </div>
  <div class="menu-icon" id="menu-icon" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <ul class="nav-links" id="nav-links" [ngClass]="{'show': isMenuOpen}">
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/about-us" (click)="toggleMenu()">About Us</a></li>
    <li><a routerLink="/our-products" (click)="toggleMenu()">Our Products</a></li>
    <li><a routerLink="/services" (click)="toggleMenu()">Services</a></li>
    <li><a routerLink="/contact-us" (click)="toggleMenu()">Contact Us</a></li>
  </ul>
</nav>
